
<ul>

{{#each result.message}}
  <% user = get_user_from_message()
  <li class="msg">
    <div class="row">
      <div class="col-sm-2">
        <div class="msg-user">
          <img src="" alt="Responsive image" class="img-circle img-responsive portrait">
          <h4 class="text-center"></h4>
        </div>
      </div>
      <div class="col-sm-10">
        <div class="msg-text text-left"><p>{{text}}</p></div>
      </div>
    </div><!-- /.row -->
  </li>
{{/each}}

</ul>