<div class="main-nav">
  <div class="toggle-nav"><a href="javascript:void(0);">toggle</a></div>
  <div class="brand">The Jar</div>
  <ul>
    <li> <a href="/about">About</a></li>
    <li> <a href="/contact">Contact</a></li>
    <li> <a href="javascript:void(0);">Signup</a></li>
    <li> <a href="javascript:void(0);">Login</a></li>
  </ul>
</div>

<div class="toggle-nav"><a href="javascript:void(0);">toggle</a></div>