<div class="header-wrapper">
  <div class="header-section header-left">
  <a id="open-nav" class="toggle-nav" href="#">Menu &raquo;</a>
  </div>
  <div class="header-section header-middle">
    <div class="brand"><a href="/">The Jar</a></div>
  </div>
  <div class="header-section header-right">
    Some stuff
  </div>
</div>

<div class="main-nav">
  <a id="close-nav" class="toggle-nav" href="javascript:void(0);">&laquo; Menu</a>
  <div class="brand"><a href="/">The Jar</a></div>
  <div class="user">Username</div>
  <ul>
    <li> <a href="/about">About</a></li>
    <li> <a href="/contact">Contact</a></li>
    <li> <a href="javascript:void(0);">Signup</a></li>
    <li> <a href="javascript:void(0);">Login</a></li>
  </ul>
</div>