<div class="main-nav">
  <div class="toggle-nav"><a id="close-nav" href="javascript:void(0);">&laquo; Menu</a></div>
  <div class="brand"><a href="/">The Jar</a></div>
  <ul>
    <li> <a href="/about">About</a></li>
    <li> <a href="/contact">Contact</a></li>
    <li> <a href="javascript:void(0);">Signup</a></li>
    <li> <a href="javascript:void(0);">Login</a></li>
  </ul>
</div>

<div class="toggle-nav"><a id="open-nav" href="javascript:void(0);">Menu &raquo;</a></div>