<% if session[:user_id]==@current_user %>
<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>


<div class="container">
<h1 class="subtitle"><%=@user.first_name %>'s Challenge Page</h1>



<%=@user.first_name %>


<%=image_tag @user.avatar.url(:square)%>
<%end%>


</div>