
<h1>Challenges#new</h1>
<p>Find me in app/views/challenges/new.html.erb</p>

<!-- justgiving -->
<div class="charity-form">
<input type="text" id="charity_search">
<input type="hidden" id="challenge_charity" name="challenge[charity]">
<select id="charity_cats" name="challenge[charity_cat]">

</select>
</div>
<div id="charity_results" class="charity-cats"></div>


	<h1>Challenges#new</h1>
	<p>Find me in app/views/challenges/new.html.erb</p>



