
.challenges.show .container .jumbotron {
  padding: 0;
  position: relative;
  overflow: hidden;
  border-radius: 0;
  height: auto;
  width: 100%;
  .video-js {padding-top: 56.25%}
  .vjs-fullscreen {padding-top: 0px;}
  .hero-vid {
    width: 100%;
  }
  .hero-title {
    position: absolute;
    top: 12%;
    left: 0;
    color: rgba(249, 191, 59, 1.0);
    text-shadow: 1px 1px 2px #222;
    font-size: 5em;
    padding: 1em;
    font-family: 'Changa One', sans-serif;
    width: 100% !important;
  }
}

.sites.index .jumbotron {
  background: url(http://media.indiatimes.in/media/content/2012/Dec/drinking_smoking_1354862172_1354862191_540x540.jpg) top left no-repeat;
  background-size: cover;
  height: 600px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px #222;

  h1 {
    font-family: 'Changa One', sans-serif;
    font-size: 6em;
  }
}