<div class="jumbotron">
  <h1>Want to quit something?</h1>
  <p>Start a challenge and get support from your friends!</p>
  <a href="/users/new" class="btn btn-warning btn-lg" role="button">Sign up</a>
  <a href="/login" class="btn btn-success btn-lg" role="button">Login</a>
</div>