<div class="jumbotron">
  <h1>Want to quit something?</h1>
  <p>Start a challenge and get support from your friends!</p>
  <p><a href="/users/new" class="btn btn-primary btn-lg" role="button">Sign up</a></p>
  <p><a href="/login" class="btn btn-success btn-lg" role="button">Login</a></p>
</div>