// Challenge Styles

// Colors
$text-bg: rgba(197, 239, 247, 1.0); // hummingbird
$divider: rgba(44, 62, 80, 1.0); //

// Progress Bar
.progress-labels {
  position: relative;
  .progress-label {
    display: block;
    position: absolute;
    top: -2em;
    color: #666;
    &.start-date {
      left: 0;
    }
    &.end-date {
      right: 0;
    }
  }
}

.space-below {
  margin-bottom: 2em;
}
h3.section-header {
  border-bottom: 1px solid lighten($divider, 50%);
  padding-bottom: 1em;
}
.balances {
  position: absolute;
  text-align: center;
  top: 65%;
  width: 100%;
  color: #fff;
  text-shadow: 1px 1px 2px #222;
  .balance {
    font-size: 2em;
    display: inline-block;
    width: 35%;
    margin-right: 1em;
    padding: 0.45em;
    &.challenger {
      background: rgba(249, 191, 59, 0.75);
    }
    &.supporters {
      background: rgba(30, 130, 76, 0.75);
    }
    .money {
      font-size:3em;
      color: rgba(52, 152, 219, 1.0);
      display: block;
      font-weight: bold;
    }
  }
}

// Calendar
.progress-calendar {
  margin-bottom: 3em;
  overflow: hidden;
  height: 0;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  &.slideOpen {
    // fix this to be more fluid, maybe % height
    height: 891px;
  }
}

// Messages
.messages {
  ul {
    margin:0;
    padding:0;
    text-indent:0;
    list-style-type: none;
    li.msg {
      margin: 1em 0;
      border-bottom: 1px solid $text-bg;
      padding: 1em;
      img.portrait {
        max-width: 80px;
        margin: 0 auto;
      }
      .caught {
        transition: all 0.5s ease;
      }
    }
  }
  &.isOwnerfalse .caught {
    display: none;
  }
}

// message form
.messages .section-header {
  margin-bottom: 0;
}
.messages-form-wrapper {
  border-bottom: 1px solid lighten($divider, 50%);
  padding: 1em 0;
}
.messages form {
  margin-top:0;
  padding: 2em;
  background: $text-bg;
}
.slide-down {
  height: 0;
  overflow: hidden;
  transition: height .5s ease;
  -webkit-transition: height .5s ease;
  -moz-transition: height .5s ease;
  -ms-transition: height .5s ease;
  &.slide-open {
    height: 74px;
  }
}

.fade-first:first-child{
  opacity: 1;
  -webkit-animation: fade-in 1s 1 ease;
  -moz-animation: fade-in 1s 1 ease;
  -ms-animation: fade-in 1s 1 ease;
  animation: fade-in 1s 1 ease;
}

@-webkit-keyframes fade-in {
  0%: {opacity: 0;}
  100%: {opacity: 1}
}

@-moz-keyframes fade-in {
  0%: {opacity: 0;}
  100%: {opacity: 1}
}
@-ms-keyframes fade-in {
  0%: {opacity: 0;}
  100%: {opacity: 1}
}
@keyframes fade-in {
  0%: {opacity: 0;}
  100%: {opacity: 1}
}


// Users
.users {
  ul {
    margin:0;
    padding:0;
    text-indent:0;
    list-style-type: none;
  }
  li.user {
    margin: 1em 0;
    background: $text-bg;
    padding: 1em;
  }
}
