// Challenge Styles

// Colors
$text-bg: rgba(197, 239, 247, 1.0); // hummingbird
$divider: rgba(44, 62, 80, 1.0); //

// Progress Bar
.progress-labels {
  position: relative;
  .progress-label {
    display: block;
    position: absolute;
    top: -2em;
    color: #666;
    &.start-date {
      left: 0;
    }
    &.end-date {
      right: 0;
    }
  }
}

.space-below {
  margin-bottom: 2em;
}
h3.section-header {
  border-bottom: 1px solid lighten($divider, 50%);
  padding-bottom: 1em;
}

// Calendar
.progress-calendar {
  margin-bottom: 3em;
  overflow: hidden;
  height: 0;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  &.slideOpen {
    height: 891px;
  }
}

// Messages
.messages {
  ul {
    margin:0;
    padding:0;
    text-indent:0;
    list-style-type: none;
    li.msg {
      margin: 1em 0;
      border-bottom: 1px solid $text-bg;
      padding: 1em;
      img.portrait {
        max-width: 80px;
        margin: 0 auto;
      }
    }
  }
}

// Users
.users {
  ul {
    margin:0;
    padding:0;
    text-indent:0;
    list-style-type: none;
  }
  li.user {
    margin: 1em 0;
    background: $text-bg;
    padding: 1em;
  }
}
