// Challenge Styles

// Progress Bar
.progress-labels {
  position: relative;
  .progress-label {
    display: block;
    position: absolute;
    top: -2em;
    color: #666;
    &.start-date {
      left: 0;
    }
    &.end-date {
      right: 0;
    }
  }
}

.space-below {
  margin-bottom: 2em;
}